CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
node_modules/
html/
latex/
xml/
**/doxygen-materialized/js/*
**/doxygen-materialized/css/*
dist/doxygen-materialized/
!**/.git-keep
