CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
# Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
node_modules/
docs/*build/
**/doxygen-materialized/js/*
**/doxygen-materialized/css/
**/doxygen-materialized/fonts/
dist/doxygen-materialized/
!**/.git-keep
.vscode/
